:root {
--black: #212121;
--gray: #f3f3f3;
--purple: #9156e2;
--pink: #e62f89;
}

.wrapper{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.calculator{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1.5fr repeat(5, 1fr);
    width: 200px;
    height: 325px;
    border-radius: 5px;
    overflow: hidden;
}
.input-output{
    grid-column-start: 1;
    grid-column-end: 5;
    color: rgb(228, 134, 67);
    display: grid;
    grid-template-rows: 1fr 2fr;

}
.input{
    display: flex;
    justify-content: end;
    align-items: center;
    font-size: 1.5em;
    
}
.output{
    display: flex;
    justify-content: end;
    align-items: center;
    font-size: 1em;
    
}
.col-2{
    grid-column-start: 3;
    grid-column-end: 5;
}
.btn{
    border: none;
    border-radius: 0%;
    transition: 200ms;
    &-gray{
        background-color: var(--gray);
    }
    &-purple{
        background-color: var(--purple);
    }
    &-pink{
        background-color: var(--pink);
    }
    &-gray:hover{
        background-color: rgb(223, 223, 223);
    }
    &-purple:hover{
        background-color: rgb(150, 90, 241);
    }
    &-pink:hover{
        background-color: rgb(219, 74, 146);
    }
}
.bg-black{
background-color: var(--black);
}